  {{!-- ben yazdim ve olusturdum bu dosyayi --}}
 <div class="col  col-lg-4">
                <div class="card">
                    <a href="/cars/{{id}}"><img src="{{imageUrl}}" class="card-img-top" alt="..."></a>
                    <div class="card-body p-4">
                        <a href="/cars/{{id}}">
                            <h4 class="card-title">{{type}}</h4>
                        </a>
                        <hr>
                        <div class="d-flex justify-content-between">
                            <h3 class="pt-2">{{price}}<span class="rental-price">/day</span></h3>
                            <a href="/cars/{{id}}" class="btn btn-primary">rent now </a>
                        </div>

                    </div>
                </div>
            </div>